$default-font: "ProximaNova-Regular", sans-serif
$second-font: "ProximaNovaT-Thin", sans-serif
$third-font: "ProximaNova-Semibold", sans-serif
$fourth-font: "ProximaNova-Extrabold", sans-serif
$fifth-font: "OpenSans-Regular", sans-serif
$sixth-font: "NewAthenaUnicode", sans-serif
$seventh-font: "ProximaNova-Light", sans-serif
$eighth-font: "ProximaNova-Black", sans-serif
$main-color: #fff
$second-color: #fa3b3b
$third-color: #00eaff
$fourth-color: #fff600
$fifth-color: #ce93d8
$sixth-color: #ffd54f
$borderbottom: #b2b2b2
