<div class="bottom-line">
  <div class="container">
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-4">
        <div class="text">
          <p>
            ©2017 100PLATKOV. Всё права защищены
          </p>
          <p>
            Powered By SmartExpert
          </p>
        </div>
      </div>
        <div class="col-4">
        <div class="phone">
          <a href="#"><img src="../img/phone.png" alt="">+38 (063) 744-20-99</a>
        </div>

      </div>
    </div>
  </div>
</div>
