<div class="fifth-screen__wrapper">
  <div class="fifth-screen">
    <div class="title">
      <h3 class='title__main'>
        Наш <span class='title__text title__text--red'>шоу-рум</span> - наполнен
        <span class='title__text title__text--blue'>красивыми и яркими</span>
        мужскими и женскими аксессуарами
      </h3>
      <p class='title__info'>
        <span class="title__info--strong ">Приглашаем вас</span> в наш шоу-рум, где...
      </p>
    </div>
    <div class="square-grey"></div>
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col col-xs-6">
            <div class='main__img main__img--left'>
              <img src="../img/foto1.jpg" alt="" >
            </div>
            <div class="num num--left num--first">01</div>
          </div>
          <div class="col col-xs-6">
            <div class='main__text main__text--right'>
              <h5>
                Вы сможете оценить
                качество любого
                изделия
              </h5>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-xs-6">
            <div class='main__text main__text--left'>
              <h5>
                Занимаетесь подбором
                коллекции аксессуаров
                в приятной атмосфере
              </h5>

            </div>
          </div>
          <div class="col col-xs-6">
            <div class='main__img main__img--right'>
              <img src="../img/foto2.jpg" alt="">
            </div>
            <div class="num num--right num--second">02</div>
          </div>
        </div>
        <div class="row">
          <div class="col col-xs-6">
            <div class='main__img main__img--left'>
              <img src="../img/foto3.jpg" alt="">
            </div>
            <div class="num num--left num--third">03</div>
          </div>
          <div class="col col-xs-6">
            <div class='main__text main__text--right'>
              <h5>
                Увидите самые последние
                коллекции этого сезона
              </h5>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-xs-6">
            <div class='main__text main__text--left'>
              <h5>
                Получите помощь от
                квалифицированных
                консультантов
              </h5>

            </div>
          </div>
          <div class="col col-xs-6">
            <div class='main__img main__img--right'>
              <img src="../img/foto4.jpg" alt="">
            </div>
            <div class="num num--right num--fourth">04</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
