<div class="first-screen_wrapper">
  <div class="first-screen">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="first-screen_left">
            <img src="../img/firstScreen_girl.png" alt="">
          </div>
          <div class="first-screen_text">
            <h1>100 PLATKOV</h1>
            <h2>роскошные <span>шарфы</span>, <span>платки</span> и <span>палантины</span> на любой вкус</h2>
            <a href="#" class="button_info">подробнее....</a>
          </div>
        </div>
        <div class="first-screen_right">
        </div>
        <div class="first-screen_line">
        </div>
        <div class="first-screen_square">
        </div>
      </div>
    </div>
  </div>
</div>
