<div class="fourt-screen__wrapper">
  <div class="fourt-screen">
    <div class="title">
      <h3 class='title__main'>
        <span class="title__text title__text--main-title">100 platkov</span><br/>
        <span class='title__text title__text--red'>крупнейший поставщик</span> женских и мужских аксессуаров
        <span class='title__text title__text--blue'> в Украине</span>
      </h3>
      <p class='title__info'>
        И вот как мы это делаем...
      </p>
    </div>
    <div class="square-grey"></div>
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <div class="item item-first">
              <div class="num">01</div>
              <div class="icon"><img src="../img/bag.png" alt=""></div>
              <div class="text">
                <p>
                  Несколько раз в год мы
                  лично путешествуем в
                  Италию, Турцию, Индию
                  и Китай
                </p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="item item-second">
              <div class="num">02</div>
              <div class="icon"><img src="../img/scarf.png" alt=""></div>
              <div class="text">
                <p>
                  Но делаем это не для
                  отдыха - мы подбираем
                  шикарные аксессуары и
                  создаем коллекции
                  для вас
                </p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="item item-third">
              <div class="num">03</div>
              <div class="icon"><img src="../img/house.png" alt=""></div>
              <div class="text">
                <p>
                  Обеспечиваем беспреры-
                  вную поставку аксесуаров
                  на склад в Украине
                </p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="item item-fourth">
              <div class="num">04</div>
              <div class="icon"><img src="../img/body.png" alt=""></div>
              <div class="text">
                <p>
                  Размещаем наш товар
                  в шоу-руме, и об этом
                  дальше...
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="button">
      <a href="#">узнать больше информации</a>
    </div>
    <div class="fourth-title">demioli</div>
    <div class="square-yellow"></div>
  </div>
</div>
