<div class="nav_wrapper">
  <nav class="nav">
    <div class="container">
      <div class="row">

        <div class="col-5">
          <div class="nav_left">
            <ul>
              <li>
                <a href="#">
                Асортимент
                </a>
              </li>
              <li>
                <a href="#">
                  Поставки
                </a>
              </li>
              <li>
                <a href="#">
                  Шоу-рум
                </a>
              </li>
            </ul>
          </div>


        </div>
        <div class="col-2">
          <div class="nav_logo">
            <a href="#"><img src="../img/logo.png" alt=""></a>
          </div>
        </div>

        <div class="col-5">
          <div class="nav_right">
            <ul>
              <li>
                <a href="#">
                  Отзывы
                </a>
              </li>
              <li>
                <a href="#">
                  Магазин
                </a>
              </li>
              <li>
                <a href="#">
                  Оптовым покупателям
                </a>
              </li>
            </ul>
          </div>


        </col-12>
      </div>
     </div>

  </nav>
</div>
