<div class="second-screen_wrapper">
  <div class="second-screen">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-12">
          <div class="left_section">
            <img src="../img/factory.png" alt="" class='second-screen__img second-screen__img--factory'>
            <h3 class='second-screen__text'>
              Мы - официальные представители
              фабрик из Италии, Индии,
              Турции и Китая
            </h3>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="center_section">
            <img src="../img/second-screen_logo.png" alt="" class='second-screen__img second-screen__img--logo'>
            <img src="../img/order.png" alt="" class='second-screen__img second-screen__img--order'>
            <h3 class='second-screen__text'>
              Обеспечиваем индивидуальную
              и быструю обработку заказов
            </h3>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="right_section">
            <img src="../img/car.png" alt="" class='second-screen__img second-screen__img--car'>
            <h3 class='second-screen__text'>
              Бесплатно доставляем товары
              по всей Украине
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="square-yellow"></div>
  <div class="square-grey"></div>
  <div class="square-blue"></div>
  <div class="second-title">demioli</div>
</div>
