<div class="sixth-screen__wrapper">

  <div class="sixth-screen">

    <div class="title">

      <h6 class='title__main'>

        В <span class='title__text title__text--red'>шоу-руме</span> вы сможете
        <span class='title__text title__text--blue'>увидеть</span> следующие
        <span class="title__main--strong">аксессуары:</span>

      </h6>

    </div>

    <div class="top-room">

      <div class="container">

        <div class="row">

          <div class="col-xl-6">
            <div class="room__item room__item--left">

              <div class="img-wrap">
                <img src="../img/six-img-1.png" alt="">
              </div>

              <div class="text-wrap">

                <h6>
                  Эксклюзивные женские и мужские
                  <span class="extrabold">шарфы</span>
                </h6>

              </div>

            </div>
          </div>

          <div class="col-xl-6">
            <div class="room__item room__item--right">

              <div class="text-wrap">
                <h6>
                  Шикарные
                  <span class="extrabold">платки</span>
                  разных стилей
                </h6>
              </div>

              <div class="img-wrap">
                <img src="../img/six-img-2.png" alt="">
              </div>

            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="bottom-room">

      <div class="container">
        <div class="row">

          <div class="col-xl-6">
            <div class="room__item room__item--left">

              <div class="img-wrap">
                <img src="../img/six-img-3.png" alt="">
              </div>

              <div class="text-wrap">
                <h6>
                  Оригинальные
                  <span class="extrabold">палантины</span>
                </h6>
              </div>

            </div>
          </div>

          <div class="col-xl-6">
            <div class="room__item room__item--right">

              <div class="text-wrap">
                <h6>
                  Стильные и легкие
                  <span class="extrabold">парео</span>
                </h6>
              </div>

              <div class="img-wrap">
                <img src="../img/six-img-4.png" alt="">
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="square-grey"></div>
    <div class="ellipse_one"></div>
    <div class="ellipse_two"></div>

    <div class="button">
      <a href="#">Перейти в онлайн шоу-рум</a>
    </div>
  </div>
</div>
