<div class="third-screen__wrapper">
  <div class="third-screen">
    <div class="title">
      <h3 class='title__main'>
        У нас огромный ассортимент - <span class='title__text title__text--red'>более 10 000</span>
        наименований товаров в <span class='title__text title__text--blue'>наличии</span>
      </h3>
      <p class='title__info'>
        Ассортимент постоянно обновляется и дополняется, что позволяет Вам:
      </p>
    </div>
    <div class="square-grey"></div>
    <div class="bg-one"></div>
    <div class="bg-two"></div>
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div class='main__img main__img--left'>
              <img src="../img/3-img-1.png" alt="" >
            </div>
          </div>
          <div class="col-6">
            <div class='main__text main__text--right main__text--blue'>
              <h4>
                Получать доступ к новым коллекциям
              аксессуаров
              </h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class='main__text main__text--left main__text--red'>
              <h4>
                Обновление ассортимента каждые
              2 недели
              </h4>
            </div>
          </div>
          <div class="col-6">
            <div class='main__img main__img--right'>
              <img src="../img/3-img-2.png" alt="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class='main__img main__img--left'>
              <img src="../img/3-img-3.png" alt="">
            </div>
            </div>
          <div class="col-6">
            <div class='main__text main__text--right main__text--yellow'>
              <h4>Покупать уникальные
              аксессуары категорий:
              <br/>
                <span class='u'>
                Эконом, Стандарт, Премиум
                </span>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="button">
      <a href="#">узнать подробнее...</a>
    </div>
  </div>
</div>
